.sign-form-container {
  background-color: #004581;
  height: 100vh;
}
.sign-form-container * {
  color: white;
}

.signin_input {
  outline: none;
  border: 1px solid white;
  color: black;
}
.signin_input:focus {
  border: 1px solid gray;
}
.btn_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign_btn {
  background-color: #d70040;
  border: none;
  outline: none;
  color: white;
  border-radius: 6px;
  padding: 8px 26px;
  font-size: 20px;
}
.sign_btn:hover {
  background: #d22b2b;
}
.link {
  color: darkblue;
  font-weight: 600;
}
